.new-background-color {
    --background: #393E46;
}

.logo {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    float: left;
}

.home {
    display: inline;
}

.h1 {
    --ion-text-color: #313031;

}