.titulo {
    margin-top: 10px;
    text-align: center;

}

.md {
    --ion-item-background: #c7417b;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #8f3b76;
    --ion-text-color: #E9DDF3;
}