<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="custom1"></ion-back-button>
    </ion-buttons>
    <ion-title>Profesor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form #formulario="ngForm" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-item>
        <ion-label>Correo Docente</ion-label>
        <ion-input type="email" placeholder="profesor@duoc.cl" name="inputCorreoProfesor"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="profesor.email" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Contraseña</ion-label>
        <ion-input type="password" placeholder="*********" name="inputContraseñaProfesor"
          [(ngModel)]="profesor.password" required></ion-input>
      </ion-item>
    </ion-card>
    <center>
      <ion-button [disabled]="formulario.invalid" type="submit" color="tertiary" shape="round"
        routerLink="/home-profesor">Entrar</ion-button>
    </center>
  </form>

  <img src="./assets/profesorIustracion.png" alt="">

</ion-content>

<ion-footer>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</ion-footer>