.titulo {
    margin-top: 10px;
    text-align: center;

}

.md {
    --ion-item-background: #5877d3;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #3e5394;
    --ion-text-color: #E9DDF3;
}