<ion-header>
  <ion-toolbar>
    <ion-title>Inicio Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="titulo" style="color: #304468;">{{getCorreoProfesor()}}</h4>
  <ion-card>
    <ion-item routerLink="/generador-qr" detail=true>
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      <ion-label>Crear clase QR</ion-label>
    </ion-item>
    <ion-item routerLink="/configuracion" detail=true>
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configuracion</ion-label>
    </ion-item>
    <ion-item routerLink="/inicio" detail=true>
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Cerrar sesion</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>
</ion-footer>