img {
    width: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    display: block;
}

p {
    text-align: center;
    color: #E9DDF3;
    ;
}

.md {
    --ion-item-background: #3e5394;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #5877d3;
    --ion-text-color: #E9DDF3;
    --ion-card-background: #3e5394;
}

.ios {
    --ion-item-background: #3e5394;
    --ion-background-color: #E9DDF3;
    --ion-toolbar-background: #5877d3;
    --ion-text-color: #E9DDF3;
    --ion-card-background: #3e5394;
}